#switchButton {
  background-color: #dc4f72;
  color: white;
  left: 20%;
  top: 10px;
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}
.dark #switchButton {
  background-color: #ffd000;
}
.dark #switchButton .fa-sun {
  display: block;
  color: black;
}
.dark#myBody {
  background-color: #121212;
}
.dark #switchButton .fa-moon {
  display: none;
}

.dark#myBody #header {
  background-color: rgb(14, 14, 14);
  box-shadow: rgba(230, 230, 230, 0.281) 0px 2px 8px 0px;
}

.dark#myBody #header .navbar-expand-lg .navbar-nav .nav-link {
  color: white;
}
.dark#myBody #header .navbar-expand-lg .navbar-nav .active .nav-link {
  color: #ffd000;
}
.dark#myBody .navbar-brand {
  color: #ffd000;
}
.dark#myBody #carousel {
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.92)),
    url(../image/banner.jpg);
}

.dark#myBody #carousel h2 {
  color: rgb(255, 255, 255);
}

.dark#myBody #carousel p {
  color: white;
}

.dark#myBody .dropdown-menu {
  background-color: black;
  border-color: #ffd000;
}
.dark#myBody .navbar-expand-lg .navbar-nav .dropdown-menu::before {
  background-color: black;
  border-color: #ffd000;
}

.dark#myBody .btn-outline-primary:not(:disabled):not(.disabled).active,
.dark#myBody .btn-outline-primary:not(:disabled):not(.disabled):active,
.dark#myBody .show > .btn-outline-primary.dropdown-toggle {
  background-color: #ffd000;
  border-color: #ffd000;
}
.dark#myBody .btn-outline-primary.focus,
.dark#myBody .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem #c79f00;
}

.dark#myBody .navbar-expand-lg .navbar-nav .nav-link::before {
  background-color: #ffd000;
}

/* Button */
.dark#myBody .btn.clear_button {
  color: #ffd000;
  border-color: #ffd000;
}

.dark#myBody .btn.clear_button:hover {
  background-color: #ffd000;
  color: black;
}
.dark#myBody .btn.clear_button:hover {
  background-color: #ffd000;
  color: black;
}
.dark#myBody .btn.button_normal {
  background-color: #ffd000;
  color: black;
}
.dark#myBody .btn.button_normal:hover {
  background-color: #ffd000;
}
/* text title style */
.dark#myBody .text__style1 {
  color: #ffd000;
}
.dark#myBody .text__style2 {
  color: #d3cfc7;
}
.dark#myBody .text__style3 {
  color: #d4d4d4;
}
.dark#myBody .text__style4 {
  color: #e6e6e6;
}

.dark#myBody #why-us {
  background-color: #121212;
}
.dark#myBody .whyus__item .item__container {
  background-color: #000;
  border-color: #c79f00;
}

.dark#myBody .whyus__item .item__container:hover {
  background-color: #383838;
  border-color: #fff;
  box-shadow: 0 10px 20px #ffffde21;
}

.dark#myBody #why-us img {
  filter: saturate(500%) contrast(800%) brightness(500%) invert(80%) sepia(50%)
    hue-rotate(290deg);
}
.dark#myBody #about {
  background-color: black;
}
.dark#myBody #about .about_left button {
  background-color: #ffd000;
  color: black;
}
.dark#myBody #about .about_left p:last-of-type {
  color: #e6e6e6;
}
.dark#myBody #about .about_left button:hover {
  opacity: 0.8;
}
.dark#myBody #about .item {
  background-color: #0f0f0f;
  border-color: #c79f00;
}
.dark#myBody #about .item h2 {
  color: white;
}
.dark#myBody #about .item p {
  color: #d3cfc7;
}
.dark#myBody #about .item .counter {
  color: #ffd000;
}

.dark#myBody .grids5-info {
  border-color: #c79f00;
  overflow: hidden;
}

.dark#myBody .blog-info {
  background-color: #222222;
}

.dark#myBody .grids5-info .date {
  background-color: #ffd000;
  color: black;
}
.dark#myBody .grids5-info .texth4 {
  color: white;
}
.dark#myBody .grids5-info:hover .texth4 {
  color: #ffd000;
}
.dark#myBody .blog-info p {
  color: #fff;
}
.dark#myBody .blog-info a {
  color: #ffd000;
}

.dark#myBody #faqs {
  background-color: #000;
}

.dark#myBody .card-header {
  background-color: #383838;
}

.dark#myBody .accordion button {
  color: white;
}

.dark#myBody #feature {
  background-color: #121212;
}

.dark#myBody .feature__tabs .resp-tabs-list li {
  color: white;
  border-color: rgb(68, 68, 68);
}

.dark#myBody .feature__tabs .resp-tab-active {
  border-color: #ffd000 !important;
  color: #ffd000 !important;
}

.dark#myBody .resp-tabs-container {
  background-color: #383838;
}
.dark#myBody h2.resp-accordion,
.dark#myBody .project__content p,
.dark#myBody .project__content h4 {
  color: white;
}

.dark#myBody h2.resp-tab-active {
  background-color: #000 !important;
}

.dark#myBody #testimo {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.77),
      rgba(0, 0, 0, 0.77)
    ),
    url(../image/b2.jpg);
}

.dark#myBody #testimo .carousel__container .item {
  background-color: #000000;
}

.dark#myBody #testimo .carousel__container .item .thumbnail {
  border-color: #ffd000;
}

.dark#myBody #testimo .carousel__container .item .content h5,
.dark#myBody #testimo .carousel__container .item .content p {
  color: white;
}

.dark#myBody #testimo .carousel__container .item .content h4 {
  color: #c79f00;
}

.dark#myBody
  #testimo
  .carousel__container
  .owl-theme
  .owl-dots
  .owl-dot.active
  span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #ffd000;
}

.dark#myBody footer {
  background-color: #000000;
}
.dark#myBody .footer_new p,
.dark#myBody .footer_new h4,
.dark#myBody footer .footer_icon a,
.dark#myBody footer h3,
.dark#myBody footer .row a,
.dark#myBody footer .text_left p {
  color: white;
}
.dark#myBody footer .text_left p a {
  color: #ffd000;
}

.dark#myBody footer .end-column {
  background-color: #383838;
}

.dark#myBody .footer_new button {
  background-color: #ffd000;
  color: #000;
}

.dark#myBody #back-to-top {
  background-color: #ffd0008c;
}

.dark#myBody .navbar-toggler-icon {
  background-color: #ffd000;
}

.dark#myBody .fa-bars:before,
.fa-navicon:before {
  color: #000;
}
