#feature {
  background-color: white;
}
.feature__header {
  text-align: center;
  max-width: 750px;
  margin: 0 auto;
}

.feature__tabs .resp-tabs-list li {
  font-weight: 700;
  font-size: 22px;
  padding: 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left;
  width: 33.333%;
  text-align: center;
  color: #4e5b61;
  border-bottom: 3px solid #eee;
  border-color: rgb(193, 193, 193);
}

.feature__tabs .resp-tab-active {
  padding: 15px;
  border-bottom: #dc4f72 3px solid !important;
  color: #dc4f72 !important;
}

.project__image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  transition: 0.3s;
}

.project__image img:hover {
  transform: translateY(-10px);
}
#feature .resp-tab-content {
  padding: 15px;
}

.project__content h4 {
  font-family: "Nunito", sans-serif;
  color: #2c3038;
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.project__content p {
  color: #2c3038;
  margin-bottom: 16px;
  font-size: 15px;
  line-height: 24.5px;
  font-weight: 300;
}

h2.resp-accordion {
  border-bottom: 3px solid #c1c1c1;
  padding: 10px;
}
