footer {
  background-color: #f7f9fc;
}
footer h3 {
  font-size: 25px;
  font-family: "Nunito", sans-serif;
  font-weight: 550;
  color: #2c3038;
}
footer li {
  text-decoration: none;
  list-style: none;
}
footer .row a {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #2c3038;
}
footer .row a:hover {
  color: #dc4f72;
}
.end-column {
  background-color: white;
}
.footer_new h4 {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.footer_new input {
  border: none;
  padding-right: 120px;
  background-color: #f7f9fc;
  border-radius: 7px;
}
.footer_new button {
  border: none;
  border-radius: 7px;
  color: white;
  background-color: #dc4f72;
}
.footer_new p {
  font-family: "Nunito", sans-serif;
}
.footer_top {
  border-top: 1px solid #eaeaea;
}
footer .footer_icon a {
  color: #2c3038;
  transition: 0s;
}
.footer_icon a:hover {
  color: #dc4f72;
}
.text_left p a {
  font-family: "Nunito", sans-serif;
  color: #2c3038;
  text-decoration: none;
}
.text_left p {
  font-family: "Nunito", sans-serif;
  color: #2c3038;
  font-weight: 350;
}

.text_left p a:hover {
  color: #dc4f72;
}

/* back to top button */
#back-to-top {
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 3px;
  background-color: rgba(220, 79, 114, 0.548);
  position: fixed;
  width: 50px;
  height: 50px;
  color: white;
  text-align: center;
  line-height: 50px;
  z-index: 100;
}
